$break-small: 700px;

.about-image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.about-content {
  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vmin;
    @media screen and (max-width: $break-small) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    
    }
}

.about-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .about-details {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .about-details {
    font-size: 20px;
  }
}

.aboutHeadline {
  margin: 0;
}

.about-title {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
