$break-small: 700px;

.about-content {
  display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5vmin;
    padding-bottom: 1em;
    @media screen and (max-width: $break-small) {
        grid-template-columns: none;
        grid-gap: none;
    }
}
