@import './about.scss';
@import './hero.scss';
@import './navigation.scss';
@import './article-preview.scss';
@import './blog.scss';
@import './button.scss';
@import './footer.scss';
@import './art.scss';
@import './art-post.scss';
@import './paypal-button';
@import './index.scss';
@import './contact.scss';

@import url('https://fonts.googleapis.com/css?family=ABeeZee|Mukta:700|Volkhov');

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Mukta", "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  padding: 0 60px;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

:root {
  --blue-500: rgb(28,70,136);
  --purple-300: rgb(142,124,195);
  --green-300: rgb(96,151,141);
  --red-500: rgb(136, 60, 88);
}

h1,
h2,
h3 {
  /* font-size: 2em; */
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: 1.2em;
  font-family: "ABeeZee";
  padding: 0;
  margin: 0;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 9vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }

/********************** Media Queries ***********************/

@media (max-width: 800px) {
  body {
    font-size: .9em;
    line-height: 1.4;
    padding: 0 20px;
  }
}