.footer-social-media-wrapper {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
}

.footer-social-media-link {
    transition: 0.2s ease-in-out;
    
    &:hover {
      transform: scale(1.05);
    }
}