.hero {
  padding: 20px 20px;
  margin: 0;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  font-size: 30px;
  padding: 0;
}

.heroHeadline {
  font-size: 180px;
  line-height: 1.1;
  margin: -20px 0;
  color: var(--blue-500);
}

.heroIntro {
  padding-bottom: .5em;
}

.heroBio {
  padding: 0;
  color: var(--red-500);
}

/**************************** Media Queries ******************************/

@media (max-width: 800px) {

  .heroHeadline {
    font-size: 22vw;
    line-height: 1;
    padding: 12px 0;
  }

  .heroIntro {
    font-size: 8vw;
  }
}
