.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 10vh;
  max-height: 100px;
  font-size: 1.75em;
  color: var(--purple-300);
  min-width: 300px;
}

.navigation-item a:hover {
  color: var(--red-500);
  text-decoration: underline;
}

.navigation-item {
  display: inline-flex;
  align-items: center;
  margin: 0 0.4em;
  text-decoration: none;
}

.navigation-item a {
  color: currentColor;
  text-decoration: none;
}
