.hero {
  padding: 10px 20px;
  margin: 0;
}

.heroHeadline {
  font-size: 180px;
  line-height: 1.1;
  margin: -20px 0;
  color: var(--blue-500);
}

/**************************** Media Queries ******************************/

@media (max-width: 800px) {

  .heroHeadline {
    font-size: 22vw;
    line-height: 1;
    padding: 12px 0;
  }
}

